<!DOCTYPE html>
<html>
    <center>
    <h1><p class = "text-secondary">CONTACT</h1>
    <p><p class = "text-secondary">Vous êtes sur la page des contact.</p>

      <br>
      <br>
      <%= link_to "Revenir à la page d'accueil", root_path, :class=>"navbar-brand my_link" %>
      <br><br><br>
    </center>
  </body>
</html>