<!DOCTYPE html>
<html>
    <center>
      <h1>WELCOME</h1>
      <p>BIENVENUE <%= @first_name %> ! Ici c'est notre super site de potins, il est chouette, non ?</p>
      <br>
      <br>
      <%= link_to "Revenir à la page d'accueil", root_path, :class=>"navbar-brand my_link" %>
      <br><br><br>
    </center>
  </body>
</html>